.newsletter {

    .single-newsletter {
        text-align: center;
        padding-bottom: 5%;
        padding-top: 5%;
    }

    h5 {
        color: black;
        
    }

    img {
        max-height: 100px;
        width: auto;
    }
}