.volunteer-position {
    padding-bottom: 4%;
    padding-top: 2%;

    .volunteer-description {

        h2 {
            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }
    }

    .volunteer-logo {
        text-align: center;
        padding: 2%;
        padding-top: 0;

        img {
            max-height: 90px;
            width: auto;

            @media screen and (max-width: 767px) {
                max-height: 85px;
            }      
        }
    }
}

.volunteer-form {

     input[type=submit] {
            background-color: #1B9DFC;
            color: white;
            border-color: #1B9DFC;
            height: 50px;
            font-size: 18px;
            text-transform: uppercase;
     }

     form input,
     form textarea {
         border-color: black;
         font-size: 18px;
         height: 4.7rem;
     }
     form label {
         color: black;
     }


}




